<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>ETH.ruhr</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/ico/favicon.ico" type="image/x-icon">

    <meta name="theme-color" content="#66dd00">

    <link rel="apple-touch-icon" sizes="57x57"
          href="images/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
          href="images/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="images/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="images/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="images/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="images/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="images/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="images/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="images/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="images/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="images/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="images/ico/favicon-16x16.png') %>">

</head>

<body id="top">

    <%- partial("/shared/_header") %>
    <%- yield %>




    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112962931-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112962931-7');
    </script>
</body>
</html>